* {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
}

header {
  text-align: center;
  margin: auto;
  max-width: 1600px;
  color: white;
}

.nameHeader {
  font-size: 4em;
}

.categories {
  font-size: 5vh;
}

.sidebar>ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}


nav {
  color: white;
  width: fit-content;
}

.categories {
  font-size: 5vh;
}

.modal-footer a,
.card--footer a {
  color: black;
  text-decoration: none
}

nav a,
footer a {
  color: white;
  text-decoration: none
}

.container {
  display: flex;
  margin: auto;
  max-width: 1600px;
  max-height: 80vh;
}


.content {
  background-color: #1F1B24;
  text-align: center;
  width: 100%;
  margin-left: 2em;
  overflow-y: auto;
  color: white;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.content>div {
  min-height: 100%;
}

.content--container {
  display:flex;
  justify-content: center; 
  align-items: center;
}

#contact-icon {
  margin-bottom: 0.15em;
}

#contact-item a {
  margin-left: 0.2em;
}

.experience--container>div,
.education--container>div {
  display: inline-block;
  vertical-align: top;
  margin: 5em;
}

.certifications--container>div{
  margin: 3em;
}

.row{
  row-gap: 2rem;
}

.certification {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.experience--container img,
.education--container img,
.certifications--container img {
  margin: 1em;
}

.about {
  display: grid;

  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: repeat(8, 12.5%);
}

.about-item-1 {
  grid-column: span 6;
  margin: auto;
}

.about-item-2 {
  grid-row-start: 2;
  margin-left: 2vw;
  grid-column: span 2;
}

.about-item-3 {
  grid-row-start: 2;
  text-align: left;
  margin-left: 2vw;
  grid-column: 3 / 8;
}

#avatar {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.projects--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  margin: 2em;
  gap: 3em;
}

.education img,
.experience img,
.certifications img {
  max-height: 200px;
  max-width: 200px;
}

.school p {
  margin: 0;
}

footer {
  display: none;
}

.card--footer>* {
  margin: auto 1.5em;
}

.experience--container p {
  margin: 0.5em;
}

.modal--icon {
  margin-right: 0.5em;
}

.skills {
  margin: 1em auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
@media(min-width:768px) and (max-width:1400px) {
  .about-item-3 {
    grid-column: 3 / 9;
  }
}


@media(max-width:768px) {
  html {
    scroll-padding-top: 8.2em;
  }

  .nameHeader,
  .titleHeader {
    margin-bottom: 0;
  }

  .mobile {
    position: sticky;
    top: 0px;
    z-index: 1;

  }

  .hamburger {
    display: block;
    border: 1px solid black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar {
    position: absolute;
    background-color: #121212;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: auto;
  }

  .content {
    margin: auto;
  }

  .categories,
  .contact {
    display: none;
  }

  .categories.active,
  .contact.active {
    display: block;
  }

  nav {
    background-color: black;
    width: 100%;
  }

  header {
    background-color: black;
  }

  .container {
    display: block;
    max-height: none;
    overflow: scroll;

    padding: 0;
  }

  .content>div {
    /* 100vh - 4em header - 4em title - 29px hamburger - 2px borders*/
    min-height: calc(100vh - 8em - 29px - 2px);
    margin-top: 2em;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .projects--container {
    gap: 2em;
  }

  .avatar {
    width: 30vh;
    height: 30vh;
  }

  .about-item-2,
  .about-item-3 {
    margin: auto;
    margin-top: 1em;
    text-align: center;
  }

  footer {
    display: block;
  }

  footer a {
    margin: 1.5em;
  }

  footer div {
    margin-top: 1.5em;
  }

  .experience--container>div,
  .education--container>div {
    display: inline-block;
    margin: 2em;
  }

  .skills ul {
    list-style-type: none;
    padding-left: 0;

  }
}