* {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
}

header {
  text-align: center;
  margin: auto;
  max-width: 1600px;
  color: white;
}

.nameHeader {
  font-size: 4em;
}

.categories {
  font-size: 5vh;
}

/* .categories {
  text-align: right;
}

.contact {
  text-align: center;
} */

.sidebar>ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}


nav {
  color: white;
  width: fit-content;
}

.categories {
  font-size: 5vh;
}

a {
  color: white;
  text-decoration: none
}

.container {
  display: flex;
  margin: auto;
  max-width: 1600px;
  max-height: 80vh;
}


.content {
  background-color: #1F1B24;
  text-align: center;
  width: 100%;
  overflow-y: auto;
  color: white;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}


.content>div {
  height: 100%;
}

#contact-icon {
  margin-bottom: 0.15em;
}

#contact-item a {
  margin-left: 0.2em;
}




.about {
  border: 2px dashed green;

  display: grid;

  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: repeat(8, 12.5%);

}

.about-item-1 {
  grid-column: span 6;

  border: 2px dashed pink;
}

.about-item-2 {
  grid-row-start: 2;
  margin-left: 2vw;
  grid-column: span 2;

  border: 2px dashed pink;
}

.about-item-3 {
  grid-row-start: 2;
  text-align: left;
  margin-left: 2vw;
  grid-column: 3 / 8;

  border: 2px dashed pink;
}

#avatar {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.projects--container {
  width: 50%;
  margin: auto;
}

.education img,
.experience img {
  max-height: 200px;
}

.school p {
  margin: 0;
}

footer {
  display: none;
}


@media(min-width:768px) and (max-width:1400px) {
  .about-item-3 {
    grid-column: 3 / 9;
  }
}


@media(max-width:768px) {
  .hamburger {
    display: block;
    border: 1px solid black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .sidebar {
    position: absolute;
    background-color: #121212;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding: auto;

  }

  .categories,
  .contact {
    display: none;
  }

  .categories.active,
  .contact.active {
    display: block;
  }


  nav {
    width: 100%;
  }


  header {
    background-color: black;
    border: 1px solid black;
  }

  .container {
    margin: auto;
    display: block;
    overflow: scroll;

    padding: 0;
  }

  .content>div {
    /* 100vh - 4em header - 4em title - (10px margin + 3px bar)*3 hamburger*/
    min-height: calc(100vh - 8em - 39px);
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .avatar {
    width: 30vh;
    height: 30vh;
  }

  .about-item-2,
  .about-item-3 {
    margin: auto;
    text-align: center;
  }

  nav.sticky-top {
    background-color: black;
  }

  footer {
    display: block;
  }

  footer a {
    margin: 1.5em;
  }

  footer div {
    margin-top: 1.5em;
  }
}